body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    background-color: rgb(254, 254, 254);
}

input[type=password],
input[type=text] {
    height: 2em;
    width: 17em;
    margin-bottom: 1em;
    border: 0.07em solid #000;
    padding-left: 15px;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

input[type=button] {
    height: 2em;
    width: 17em;
    margin-bottom: 1em;
    border: 0.07em solid #000;
    padding-left: 10px;
}


.login {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-body {
    border: 1px solid rgb(132, 132, 132);
    background-color: rgb(250, 250, 250);
    box-sizing: content-box;
    padding: 2em 4em 2em 4em;
    margin-top: 7em;
}

@media screen and (max-width: 768px) {
    .login-body {
        padding: 0.9em 0.9em 0.9em 0.9em;

    }
}
.title {
    font-size: 2.4em;
    font-weight: 500;
    margin-top: 0.5em;
}

.login-btn {
    height: 2em;
    width: 17em;
    margin-bottom: 1em;
    border: 0.07em solid #000;
    padding-left: 10px;
    background-color: #000;
    border: 0.09em solid #000;
    color: #FFF;
}

.signup-btn {
    background-color: #FFF;
    border: 0.09em solid #000;
    color: #000;
    margin-top: 1em;
    height: 2em;
    width: 17em;
    margin-bottom: 1em;
    border: 0.07em solid #000;
    padding-left: 10px;

}

.signup-btn:hover {
    background-color: #000;
    border: 0.09em solid #000;
    color: #FFF;
}

/* Hr tag */

.separator {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    /* width: 30%; */
    margin: auto;
}

.separator h6 {
    padding: 0 1em;
    margin-top: 5px;
}

.separator .line {
    flex: 1;
    height: 1px;
    background-color: rgb(110, 110, 110);
}


@media screen and (min-width: 768px) {
    .login {
        width: auto;
    }
}

/* Signup */
.signup {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-body {
    border: 1px solid rgb(132, 132, 132);
    background-color: rgb(250, 250, 250);
    box-sizing: content-box;
    padding: 2em 4em 2em 4em;
    margin-top: 7em;
}

.back-login{
    cursor: pointer;
}

.backto-login-btn{
    background-color: #000;
    border: 0.09em solid #000;
    color: #FFF;
    margin-top: 0.8em;
}

.backto-login-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

.error{
    color: red;
    font-size: 15px;
    text-align: left;
    margin-top: -15px;
    margin-left: 5px;
}

