    .product-container {
        background-color: #dddbdb;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        margin-bottom: 3.5em;
    }

    .product-view {
        background-color: #dddbdb;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        margin-bottom: 3.5em;

    }

    .product-info {
        width: 90%;
        display: block;
        margin-top: 3em;
        margin-bottom: 2em;
        padding-left: 0.5em;
    }

    .book-name {
        font-size: 2em;
        font-weight: 600;
    }

    .book-details {
        color: rgb(109, 109, 109);
    }

    .book-price {
        font-size: 1.2em;
        margin-top: 1.3em;
    }

    .close-button{
        position: absolute;
        font-size: 1.7em;
        color: rgb(38, 38, 38);
        padding: 0.5em 0.5em 0.5em 0.5em;
        /* right: 5.2em; */
        cursor: pointer;
        left: 86%;
    }
    @media screen and (max-width: 768px) {
        .close-button{
            position: absolute;
            left: 78%;
            
        }
    
    }

    @media screen and (max-width: 768px) {
        .product-img{
            width: 100%;
        }
    
    }
    /* Up down number */
    form {
        width: 300px;
        margin: 0 auto;
        padding-top: 1.5em;
        margin-left: -0.1em;

    }

    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .value-button:hover {
        cursor: pointer;
    }

    form #decrease {
        margin-right: -4px;
    }

    form #increase {
        margin-left: -4px;
    }

    form #input-wrap {
        margin: 0px;
        padding: 0px;
    }

    input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    .buy-now{
        margin-top: 1em;
    }